<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body style="background-color:cyan;
			 text-align: center;
  			color: black;">
	<h1 align="center">DailyService</h1>
	<h2 align="center">Manager Home Page</h2>
	<p>Welcome home </p>

	<a href="/home_manager/workList">work List</a> | 
	<a href="/home_manager/manager_employeeList">Employee List</a> | 
	<a href="/logout">Logout</a> 

</body>
</html>