<!DOCTYPE html>
<html>
<head>
	<title>Edit page</title>
</head>
<body>
	<h1>Edit Page</h1>

	<a href="/home">Back</a> | 
	<a href="/logout">Logout</a> 

		<table>
			<tr>
				<td>Id: </td>
				<td><%= user.id %></td>
			</tr>
			<tr>
				<td>Username: </td>
				<td><%= user.username %></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td><%= user.password %></td>
			</tr>
			
		</table>
</body>
</html>